<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

  <br/><br/><br/>

  <div class="container">

      <h1 class="page-header">Public Trips</h1>

      <div class="col-sm-12 col-centered discover-result" id="discover-result" style="text-align: left;">
        <div id="page-container">
          <% @trips.each_with_index do |trip, index| %>
              <div class="col-sm-5 col-centered col-sm-offset-1 users-badge-master">
                  <div class="row users-badge-image" id="map<%= index %>"></div>
                  <div class="row users-badge-subtitle">
                    <span style="float: center;" id="star<%= index %>"></span>
                  </div>

                  <div class="row users-badge-title">
                    <%= trip.title %>
                  </div>

                <div class="row users-badge-school-subtitle">
                  <% trip.locations.each do |loc| %>
                      <%= loc.name %><br/>
                  <% end %>
                </div>

                <div class="row users-badge-subtitle">
                    <%= trip.postdate %>
                </div>

                <div class="row users-badge-more-btn">
                  <%= link_to 'More', trip, class: "users-badge-button"%>
                </div>

              </div>
          <% end %>

          <script>
            function initMap() {
              <% @trips.each_with_index do |trip, index| %>
                var map<%= index %> = new google.maps.Map(document.getElementById('map<%= index %>'), {
                    center: {lat: <%= trip.locations.first.lat %>, lng: <%= trip.locations.first.lng %>},
                    zoom: 10,
                    mapTypeControl: false,
                    disableDefaultUI: true,
                    scrollwheel: false,
                    draggable: false,
                    disableDoubleClickZoom: true
                });
              <% end %>

            }

            <% @trips.each_with_index do |trip, index| %>
              $('#star<%= index %>').raty({
                readOnly: true,
                score: <%= trip.average_rating %>,
                path: '/assets'
              });
            <% end %>

          </script>

          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC9HnSYF-HpEvHgLv4n04HupRWtp5n3h0&signed_in=false&libraries=places&callback=initMap"
              async defer></script>
        </div>

        <div id="nearby-partial">
        </div>

      </div> <!-- col-sm-12 -->
  </div> <!-- container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %>
<%= javascript_include_tag "bootstrap.min" %>
  <script>
      $(document).ready(
              function() {
                  console.log("Loaded");
                  if (navigator.geolocation) {
                      navigator.geolocation.getCurrentPosition(showPosition);
                  } else {
                      $('#nearby-partial').innerHTML = "FAIL!";
                      console.log("FAIL!");
                  }
                  function showPosition(position) {
                      $('#nearby-partial').load('/nearby?lng='+position.coords.longitude+"&lat="+position.coords.latitude +" #nearby-partial, script",
                              function() {
                                  initializeMaps();
                              }
                      );
                      console.log('/nearby?lng='+position.coords.longitude+"&lat="+position.coords.latitude);
                  }
              });

  </script>
</body>
</html>
