<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HitchHike</title>

  <%= stylesheet_link_tag "bootstrap.min" %>

</head>

<body>
  <%= render("shared/menu") %>

  <br/><br/><br/>
  <div class="container">

    <% if user_signed_in? %>
      <h1 class="page-header">My Trips</h1>

      <button class="btn btn-sm btn-success pull-right">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <%= link_to 'New Trip', new_trip_path %>
      </button>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Locations</th>
            <th>Tags</th>
            <th>Postdate</th>
            <th>User</th>
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
        <% @trips.each do |trip| %>
            <tr>
              <td><%= trip.title %></td>
              <td><%= trip.description %></td>
              <td><%= trip.locations %></td>
              <td><%= trip.tags %></td>
              <td><%= trip.postdate %></td>
              <td><%= trip.user %></td>
              <td><%= link_to 'More', trip %></td>
              <% if current_user.email == trip.user %>
                  <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
                  <td><%= link_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>

    <% end %>

  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %>
  <%= javascript_include_tag "bootstrap.min" %>
  </body>
</html>
