<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HitchHike</title>

  <%= stylesheet_link_tag "bootstrap.min" %>

  <style>
      a[href^="http://maps.google.com/maps"] {
          display: none !important
      }

      a[href^="https://maps.google.com/maps"] {
          display: none !important
      }

      .gmnoprint a, .gmnoprint span, .gm-style-cc {
          display: none;
      }

      .gmnoprint div {
          background: none !important;
      }

      #map div div a div img {
          display: none;
      }
  </style>

</head>

<body>

<br/><br/><br/>

<div class="container">

  <h1 class="page-header">My Trips</h1>

  <div class="col-sm-12  col-centered discover-result" id="discover-result" style="text-align: left;">
    <div id="page-container">
      <% @trips.each_with_index do |trip, index| %>
          <div class="col-sm-5 col-centered col-sm-offset-1 users-badge-master">
            <div class="row users-badge-image" id="map<%= index %>">
            </div>
            <div class="row users-badge-subtitle">
              <span style="float: left;"><%= link_to 'Edit', edit_trip_path(trip) %></span>
              <span style="float: right;"><%= link_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            </div>

            <div class="row users-badge-title">
              <%= trip.title %>
            </div>

            <div class="row users-badge-school-subtitle">
              <% trip.locations.each do |loc| %>
                  <%= loc.name %><br/>
              <% end %>
            </div>

            <div class="row users-badge-subtitle">
              <%= trip.postdate %>
            </div>

            <div class="row users-badge-more-btn">
              <%= link_to 'Explore', trip, class: "users-badge-button" %>
            </div>

          </div>
      <% end %>

      <script>
          function initMap() {
              <% @trips.each_with_index do |trip, index| %>
              var map<%= index %> = new google.maps.Map(document.getElementById('map<%= index %>'), {
                  center: {lat: <%= trip.locations.first.lat %>, lng: <%= trip.locations.first.lng %>},
                  zoom: 10,
                  mapTypeControl: false,
                  disableDefaultUI: true,
                  scrollwheel: false,
                  draggable: false,
                  disableDoubleClickZoom: true
              });
              <% end %>
          }

      </script>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC9HnSYF-HpEvHgLv4n04HupRWtp5n3h0&signed_in=false&libraries=places&callback=initMap"
              async defer></script>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %>
<%= javascript_include_tag "bootstrap.min" %>
</body>
</html>
