<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>HitchHike</title>

  <%= stylesheet_link_tag "bootstrap.min" %>

  <style>
      html, body {
          height: 90%;
          width: 90%;
          margin: auto;
          padding: 0;

      }
      #map {
          height: 100%;
      }
      .controls {
          margin-top: 10px;
          border: 1px solid transparent;
          border-radius: 2px 0 0 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 32px;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      #pac-input {
          background-color: #fff;
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
          margin-left: 12px;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 300px;
      }
      #pac-input:focus {
          border-color: #4d90fe;
      }
      .pac-container {
          font-family: Roboto;
      }
      #type-selector {
          color: #fff;
          background-color: #4d90fe;
          padding: 5px 11px 0px 11px;
      }
      #type-selector label {
          font-family: Roboto;
          font-size: 13px;
          font-weight: 300;
      }
  </style>
</head>

<body>

  <br/><br/><br/><br/><br/>

  <!-- <div class="container"> -->
    <input id="pac-input" class="controls" type="text"
           placeholder="Enter a location">
    <div id="type-selector" class="controls">
      <input type="radio" name="type" id="changetype-all" checked="checked">
      <label for="changetype-all">All</label>

      <input type="radio" name="type" id="changetype-establishment">
      <label for="changetype-establishment">Establishments</label>

      <input type="radio" name="type" id="changetype-address">
      <label for="changetype-address">Addresses</label>

      <input type="radio" name="type" id="changetype-geocode">
      <label for="changetype-geocode">Geocodes</label>
    </div>
    <div id="trip-route">
      <input id="trip-data" type="text"/>
    </div>
    <div id="map"></div>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: <%= @locations.first.lat %>, lng: <%= @locations.first.lng %>},
                zoom: 13
            });
            var input = /** @type {!HTMLInputElement} */(
                    document.getElementById('pac-input'));
            var types = document.getElementById('type-selector');
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);
            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });
            autocomplete.addListener('place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("Autocomplete's returned place contains no geometry");
                    return;
                }
                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    console.log(place);
                    console.log(place.geometry.location.lat());
                    map.setZoom(17);  // Why 17? Because it looks good.
                }
                marker.setIcon(/** @type {google.maps.Icon} */({
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(35, 35)
                }));
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);
                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }
                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);
            });
            // Sets a listener on a radio button to change the filter type on Places
            // Autocomplete.
            function setupClickListener(id, types) {
                var radioButton = document.getElementById(id);
                radioButton.addEventListener('click', function() {
                    autocomplete.setTypes(types);
                });
            }
            setupClickListener('changetype-all', []);
            setupClickListener('changetype-address', ['address']);
            setupClickListener('changetype-establishment', ['establishment']);
            setupClickListener('changetype-geocode', ['geocode']);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC9HnSYF-HpEvHgLv4n04HupRWtp5n3h0&signed_in=true&libraries=places&callback=initMap"
            async defer></script>

    <p>
      <strong>Title:</strong>
      <%= @trip.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @trip.description %>
    </p>

    <p>
      <strong>Locations:</strong>
      <% @locations.each do |loc| %>
        <%= loc.name %>,
      <% end %>
    </p>

    <p>
      <strong>Tags:</strong>
      <%= @trip.tags %>
    </p>

    <p>
      <strong>Postdate:</strong>
      <%= @trip.postdate %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @owner.username %>
    </p>

    <h2>Comments</h2>
    <div id="comments">
      <%= render :partial => @trip.comments %>
    </div>
    <%= form_for [@trip, Comment.new] do |f| %>
        <p>
          <%= f.label :body, "New comment" %><br/>
          <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add comment" %></p>
    <% end %>
    <%= link_to 'Edit', edit_trip_path(@trip) %> |
    <%= link_to 'Back', trips_path %>

  <!-- </div> -->

</body>
</html>
