<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "HitchHike", root_url, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_url %></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Explore</a></li>
            <li>
              <%= form_tag points_path, method: :get do %>
                <div class="box">
                  <%= text_field_tag :query, params[:query], class: 'form-control typeahead', id: 'points-search', autocomplete: 'off', placeholder: 'Find a destination' %>
                </div>
            </li>
            <li>
                <div class="search-button">
                  <%= submit_tag 'Search', class: 'btn btn-primary' %>
                </div>
              <% end %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "My Trips", trips_path %></li>
              <li><%= link_to "Profile", "/account/#{current_user.username}" %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path,
                          method: :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>
