<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

  <br/><br/><br/>
  <div class="container">

    <h1 class="page-header">NewsFeed</h1>

    <br/>

    <% @activities.each do |activity| %>
      <% @username = User.find(activity.owner_id).username %>
      <% if activity.trackable_type == 'Trip' %>
        <p>
          <strong><%= link_to @username, "/users/#{@username}" %></strong> created a new <%= link_to "trip", "/trips/#{activity.trackable_id}" %> - <%= Trip.find(activity.trackable_id).title %>!
        </p><br/>
      <% elsif activity.trackable_type == 'Comment' %>
        <p>
          <strong><%= link_to @username, "/users/#{@username}" %></strong> commented on your <%= link_to "trip", "/trips/#{activity.trackable_id}" %>: "<%= Comment.find(activity.trackable_id).body %>"
        </p><br/>
      <% elsif activity.trackable_type == 'User' %>
        <p>
          <strong><%= link_to @username, "/users/#{@username}" %></strong> has followed you!
        </p><br/>
      <% end %>
    <% end %>

  </div>

</body>
</html>
