<!DOCTYPE html>
<html lang="en">
<head>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js" %>
</head>

<body>

<br/><br/><br/>

<div class="container">

  <h2 class="page-header">Nearby <% @trips.length %></h2>

  <div class="col-sm-12  col-centered discover-result" id="discover-result" style="text-align: left;">
    <div id="page-container">
      <% @trips.each do |utrip, uindex| %>
          <div class="col-sm-5 col-centered col-sm-offset-1 users-badge-master">
            <div class="row users-badge-image" id="map<%= uindex %>">
            </div>
            <div class="row users-badge-title">
              <%= utrip.title %>
            </div>

            <div class="row users-badge-school-subtitle">
              <% utrip.locations.each do |loc| %>
                  <%= loc.name %><br/>
              <% end %>
            </div>

            <div class="row users-badge-subtitle">
              <%= utrip.postdate %>
            </div>

            <div class="row users-badge-more-btn">
              <%= link_to 'Explore', @trip, class: "users-badge-button" %>
            </div>

          </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
    function initMap() {
        <% @trips.each do |trip| %>
        <% index = @trips.index(@trip) %>
        var map<%= index %> = new google.maps.Map(document.getElementById('map<%= index %>'), {
            center: {lat: <%= @trip.locations.first.lat %>, lng: <%= @trip.locations.first.lng %>},
            zoom: 10,
            mapTypeControl: false,
            disableDefaultUI: true,
            scrollwheel: false,
            draggable: false,
            disableDoubleClickZoom: true
        });
        <% end %>
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC9HnSYF-HpEvHgLv4n04HupRWtp5n3h0&signed_in=false&libraries=places&callback=initMap"
        async defer></script>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %>
<%= javascript_include_tag "bootstrap.min" %>
</body>
</html>
