<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HitchHike</title>
  <link rel='shortcut icon' href="<%= image_url('favicon.ico') %>" type="image/x-icon"/>

  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'css' %>
  <%= stylesheet_link_tag "endvrs-style" %> -->
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Hides google map's terms of use and logo -->
  <style>
    a[href^="http://maps.google.com/maps"]{display:none !important}
    a[href^="https://maps.google.com/maps"]{display:none !important}

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
      display:none;
    }
    .gmnoprint div {
      background:none !important;
    }
    #map div div a div img {
      display:none;
    }
  </style>
</head>
<body>

  <%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= render("shared/menu") %>

</body>
</html>
