<!DOCTYPE html>
<html>
<head>
  <title>Hitchhike</title>
  <link rel='shortcut icon' href="<%= image_url('favicon.ico') %>" type="image/x-icon"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'css' %>
  <%= stylesheet_link_tag "endvrs-style" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render("shared/menu") %>

</body>
</html>
